html {
  overflow-y: scroll;  /* Sticky scrollbars, to prevent janky UI during route change */
}

#container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* TODO: Mobile-friendly media queries */
  max-width: 768px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
  background-color: #c418511a;
  border-radius: 10px;
  text-align: center;
}

nav {
  font-size: 0.95em;
  background-color: rgba(128, 128, 128, 0.075);
  padding: 1px 0 1em 1em;
}

footer {
  font-size: 0.9em;
  color: gray;
  border-top: 1px dotted; 
  margin-top: 2em;
}

/* Style WikiLinkIDs uniquely, across semantic elements (title & likns) */
article > h1 { 
  text-align: center;
  text-decoration: underline wavy #c418511a;
}
[title^="link:"] {
  font-weight: bolder;
  text-decoration: underline wavy #c418511a;
}
[title="link:branch"]::after {
  content: "#";
  color: gray;
  opacity: 0.5;
}

[title="link:tag"]::before {
  content: "#";
  color: gray;
  opacity: 0.5;
}